.box1{
    background-color: rgb(72, 17, 124);
    text-align: center;
    color: white;
    padding:50px;
    font-family: sans-serif;
}

.box1 p{
    width:500px;
    margin: auto;
    
}
.box2{
    text-align: center;
    padding:30px;
}
.box2 h2{
    font-family: sans-serif;
    font-size:25px;
}
.box2 p{
    width:600px;
    margin:auto;
}
.part1{
    background-color:rgb(238, 244, 247);
    display: inline-block;
    text-align: center;
    padding:30px;
    margin:40px;

}
.part1 h3{
    font-family: sans-serif;
    color:black;
}
.part1 p{
    width:250px;
    color:black;
}
.part1 span{
    color:red;
    font-size: 25px;
    font-weight: bold;
}
.part1 span:hover{
    margin-right:10px;
}

.arrow{
    width:15px;
    height:15px;
}
._pic{
    width:40px;
    height:40px;
}

.box4{
    text-align: center;
    padding:20px;
    margin:10px;
}
.box4 h2{
    font-family: sans-serif;
    font-size: 25px;
}
.box4 p{
    width:500px;
    margin:30px auto;

}
.box4 button{
    background-color:red;
    border:none;
    border-radius:30px;
    width:250px;
    height: 50px;
    display:inline-block;
    color:white;
    font-size: 15px;

}
.box5{
    text-align: center;
    background-color: rgb(9, 9, 134);
    color:lightgray;
    height:70px;
    padding-top:20px;
    font-size: 20px;
    margin-top:40px;

}
